# Ignore Python bytecode files
*.pyc
__pycache__/

*.pyd
*.so
*.dll
__pycache__/

# Build artifacts
build/
dist/
*.egg-info/
*.egg
docs/_build/

# Ignore virtual environment directories
venv/
.env/

# Ignore IDE directories
.vscode/
.idea/

# Ignore logs and data
*.log
*.out
*.err
*.npy
*.npz
*.pkl
*.h5
*.hdf5
*.csv
*.tsv
*.png
*.jpg

# Ignore internal files
_internal/

*.pdf

# Ignore temporary and generated output folders
tmp/
temp/
*/tmp/
*/temp/

# Ignore example-generated outputs and figure folders
**/outputs/
**/figures/
path_to_save/

# OS files
.DS_Store
.pytest_cache/